.Rproj.user
.Rhistory
.RData
.Ruserdata

echo ".RDataTmp*" >> .gitignore
echo ".RData" >> .gitignore
echo ".Rhistory" >> .gitignore

.DS_Store
data/*
!data/.gitkeep

output/*
!output/.gitkeep

*.html
*.pdf
*.docx